# In this Notebook:

1. Importing libraries
2. Importing data
3. Combine two dfs using merge function
4. Exporting combined data as .csv and .pkl files

# 1. Importing libraries

In [12]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

# 2. Importing data

In [13]:
#Creating path to Instacart Folder
path = r"/Users/katerinapilota/Desktop/Desktop - Pilot's Mac mini/dataimmersion/python/ 02:03:21 Instacart Basket Analysis"

In [15]:
#Importing order_products_prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), index_col = False)

In [16]:
#checking shape of new df
df_ords_prior.shape

(32434489, 4)

In [17]:
#Importing orders_checked.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [18]:
#checking imported df
df_ords.head()

,order_id,user_id,order_number,orders_days_of_the_week,time_of_order_24hr_time,days_since_prior_order
0,2539329,1,1,2,8,0.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [19]:
#checking prior df head
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

# 3. Combining two dfs using merge

In [20]:
#merging the two data sets
df_merged_1 = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [21]:
#call merged df
df_merged_1

,order_id,user_id,order_number,orders_days_of_the_week,time_of_order_24hr_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,13,1,12,7.0,14197,5,1,both
32434485,2977660,206209,13,1,12,7.0,38730,6,0,both
32434486,2977660,206209,13,1,12,7.0,31477,7,0,both
32434487,2977660,206209,13,1,12,7.0,6567,8,0,both
32434488,2977660,206209,13,1,12,7.0,22920,9,0,both

In [22]:
#checking shape of new df
df_merged_1.shape

(32434489, 10)

In [23]:
#checking whether dfs have full match
df_merged_1['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [26]:
#export data to csv
df_merged_1.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'), index = False)

In [28]:
#export data to pkl
df_merged_1.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

End