## CONTENT LIST
1. Import Libraries
2. Import Customer df
3. Wrangling CUstomer Data
4. Customer Data Quality & Consistency Checks
5. Prep to Combine Customer Data with Prepared Data
6. Merging Data
7. Export merged data

## 01. Import Libraries

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

## 02. Import Customer df

In [2]:
path = r'C:\Users\chery\Desktop\CareerFoundry\Immersion Data Analytics\Achievement 4\02-2022 Instacart Basket Analysis'

In [3]:
df_customer = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

## 03. Wrangling Customer Data

In [22]:
#Check shape
df_customer.shape

(206209, 10)

In [4]:
#Checking Column Names appropriate for first few rows
df_customer.head(5)

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [5]:
#Drop 'First Name' & 'Surnam' columns because no impact on analysis

df = df_customer.drop(columns = ['First Name', 'Surnam'])

In [6]:
#Rename 'n_dependants' column as 'number_dependants'

df.rename(columns = {'n_dependants' : 'number_dependants'}, inplace = True)

In [7]:
#Rename 'fam_status' column as 'marital_status'

df.rename(columns = {'fam_status' : 'marital_status'}, inplace = True)

In [8]:
#Rename 'STATE' column as 'State'

df.rename(columns = {'STATE' : 'State'}, inplace = True)

In [9]:
#Rename 'Age' column as 'Customer Age'

df.rename(columns = {'Age' : 'Customer_Age'}, inplace = True)

In [10]:
#Re-Checking column names to ensure changes made
df.columns

Index(['user_id', 'Gender', 'State', 'Customer_Age', 'date_joined',
       'number_dependants', 'marital_status', 'income'],
      dtype='object')

In [11]:
#Checking Variable's Data Types
df.dtypes

user_id               int64
Gender               object
State                object
Customer_Age          int64
date_joined          object
number_dependants     int64
marital_status       object
income                int64
dtype: object

In [15]:
#Changing Data Type of User_ID from Numeric to String

df['user_id'] = df['user_id'].astype('str')

In [16]:
#Re-Checking Variable's Data Types
df.dtypes

user_id              object
Gender               object
State                object
Customer_Age          int64
date_joined          object
number_dependants     int64
marital_status       object
income                int64
dtype: object

## 04. Customer Data Quality & Consistency Checks

In [17]:
#Initial Check
df.describe()

        Customer_Age  number_dependants         income
count  206209.000000      206209.000000  206209.000000
mean       49.501646           1.499823   94632.852548
std        18.480962           1.118433   42473.786988
min        18.000000           0.000000   25903.000000
25%        33.000000           0.000000   59874.000000
50%        49.000000           1.000000   93547.000000
75%        66.000000           3.000000  124244.000000
max        81.000000           3.000000  593901.000000

**All statistics look good at initial check above

In [18]:
#Check for Mixed-type data

for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

**No mixed type data

In [19]:
#Check for Missing Values

df.isnull().sum()

user_id              0
Gender               0
State                0
Customer_Age         0
date_joined          0
number_dependants    0
marital_status       0
income               0
dtype: int64

**No missing values

In [20]:
#Check for Duplicates

df_dups = df[df.duplicated()]

In [21]:
df_dups

Empty DataFrame
Columns: [user_id, Gender, State, Customer_Age, date_joined, number_dependants, marital_status, income]
Index: []

**No duplicate data

## 05. Prep to Combine Customer Data with Prepared Data

In [23]:
#Import Prepared Data

df_prepared = pd.read_pickle (os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_task_4_8.pkl'))

In [24]:
#Check Output of Prepared df

df_prepared.head(5)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,customer_status,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price_ords,spender_flag,order_frequency,frequent_customer_flag
0,2539329,1,1,2,8,NaN,New Customer,196,1,0,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,Repeat Customer,196,1,1,...,Mid-range product,Regularly busy,Least busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,Repeat Customer,196,1,1,...,Mid-range product,Regularly busy,Least busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,Repeat Customer,196,1,1,...,Mid-range product,Least busy,Least busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,Repeat Customer,196,1,1,...,Mid-range product,Least busy,Least busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [32]:
#Checking Variable's Data Types
df_prepared.dtypes

order_id                     int64
user_id                      int64
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
customer_status             object
product_id                   int64
add_to_cart_order            int64
reordered                    int64
_merge                    category
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
price_range_loc             object
busiest_days                object
busiest_period_of_day       object
max_order                    int64
loyalty_flag                object
mean_price_ords            float64
spender_flag                object
order_frequency            float64
frequent_customer_flag      object
dtype: object

In [33]:
#Changing Data Type of User_ID & Order_id from Numeric to String for Prepared data

df_prepared ['user_id'] = df_prepared['user_id'].astype('str')
df_prepared ['order_id'] = df_prepared['order_id'].astype('str')

In [34]:
#Re-checking Variable's Data Types
df_prepared.dtypes

order_id                    object
user_id                     object
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
customer_status             object
product_id                   int64
add_to_cart_order            int64
reordered                    int64
_merge                    category
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
price_range_loc             object
busiest_days                object
busiest_period_of_day       object
max_order                    int64
loyalty_flag                object
mean_price_ords            float64
spender_flag                object
order_frequency            float64
frequent_customer_flag      object
dtype: object

In [25]:
#Drop duplicate 'busiest day' column
df_prepared = df_prepared.drop(columns = ['busiest_day'])

In [26]:
#Re-check Output of Prepared df

df_prepared.head(5)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,customer_status,product_id,add_to_cart_order,reordered,...,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price_ords,spender_flag,order_frequency,frequent_customer_flag
0,2539329,1,1,2,8,NaN,New Customer,196,1,0,...,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,Repeat Customer,196,1,1,...,9.0,Mid-range product,Least busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,Repeat Customer,196,1,1,...,9.0,Mid-range product,Least busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,Repeat Customer,196,1,1,...,9.0,Mid-range product,Least busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,Repeat Customer,196,1,1,...,9.0,Mid-range product,Least busiest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [27]:
#Check Output of Customer df

df.head(5)

,user_id,Gender,State,Customer_Age,date_joined,number_dependants,marital_status,income
0,26711,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Female,Maryland,26,1/1/2017,1,married,40374

**User_id only common column between dataframes - Will merged on user_id column

In [29]:
#Check Shape of df_prepared before merge
df_prepared.shape

(32404859, 24)

In [30]:
#Check Shape of df before merge
df.shape

(206209, 8)

## 06. Merging Data

In [35]:
#Merge dfs
df_merged = df_prepared.merge(df, on = ['user_id'])

In [36]:
#Confirm results of merge 
df_merged.shape

(32404859, 31)

In [39]:
#View column names
df_merged.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'customer_status',
       'product_id', 'add_to_cart_order', 'reordered', '_merge',
       'product_name', 'aisle_id', 'department_id', 'prices',
       'price_range_loc', 'busiest_days', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'mean_price_ords', 'spender_flag', 'order_frequency',
       'frequent_customer_flag', 'Gender', 'State', 'Customer_Age',
       'date_joined', 'number_dependants', 'marital_status', 'income'],
      dtype='object')

In [37]:
#View results of merge
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,customer_status,product_id,add_to_cart_order,reordered,...,spender_flag,order_frequency,frequent_customer_flag,Gender,State,Customer_Age,date_joined,number_dependants,marital_status,income
0,2539329,1,1,2,8,NaN,New Customer,196,1,0,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,Repeat Customer,196,1,1,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,Repeat Customer,196,1,1,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,Repeat Customer,196,1,1,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,Repeat Customer,196,1,1,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423

## 07. Export Merged Data

In [40]:
#Export Merged df as pkl
df_merged.to_pickle(os.path.join(path,'02 Data','Prepared Data', 'merged_task_4_9_part1.pkl'))